<!DOCTYPE html>
<html lang="en">

<head>

    <title>Restaurant Sign-up</title>
    <link rel="stylesheet" href="signupstyle.css">
    <link rel="icon" href="https://cdn5.f-cdn.com/contestentries/70431/10651466/53406793a0826_thumb900.jpg" type="image/x-icon"/>

</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/customerssignup" method="post" id="signupForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= formData ? formData.name : '' %>" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="name@gmail.com" value="<%= formData ? formData.email : '' %>" required>
            <% if (errorMessage) { %>
                <div id="emailError" class="error" style="color: red;"><%= errorMessage %></div>
            <% } %>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="<%= formData ? formData.password : '' %>" required>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="<%= formData ? formData.phone : '' %>" required>

            <label for="location">Location:</label>
            <select id="location" name="location" value="<%= formData ? formData.location : '' %>" required>
                <option value="" selected disabled>Select your location</option>
                <option value="Maadi">Maadi</option>
                <option value="New Cairo">New Cairo</option>
                <option value="Nasr city">Nasr city</option>
                <option value="Shrouk">Shrouk</option>
                <option value="Sheikh Zayed">Sheikh Zayed</option>
                <option value="6th of October">6th of October</option>
            </select>

            <input type="submit" value="Sign Up">
            <H6> Want to add your restaurant?  <a href="/restreq">Make a request now</a></H6>

        </form>
    </div>

</body>

</html>
